/* * {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
} */
li {
  list-style: none;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
p {
  color: #b8b8b8;
}
